body{
    text-align: center;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}

.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}